<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>File Upload System</title>
<!--    <link href="/static/sweetalert.css" rel="stylesheet">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.css">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .nav-link {
            color: #212529;
        }
        a {
            color: #212529;
            text-decoration: underline;
        }
    </style>

</head>
<body>
<div th:insert="navbar :: navbar">  </div>
<br />
<br />
<br />
<div class="container">
    <div class="row">
        <h1> List of users Users </h1>
    </div>

    <div class="alert alert-success" role="alert"
         th:if="${success}">
        <span th:text="${success}"></span>
        <button aria-label="Close" class="close" data-dismiss="alert" type="button">
            <span aria-hidden="true">&times;</span></button></button>
    </div>
    <div class="alert alert-success" role="alert"
         th:if="${message}">
        <span th:text="${message}"></span>
        <button aria-label="Close" class="close" data-dismiss="alert" type="button">
            <span aria-hidden="true">&times;</span></button></button>
    </div>
    <div class="alert alert-warning" role="alert"
         th:if="${error}">
        <span th:text="${error}"></span>
        <button aria-label="Close" class="close" data-dismiss="alert" type="button">
            <span aria-hidden="true">&times;</span></button></button>
    </div>
    <table class="table table-striped table-bordered table-hover">
        <thead class="table-info">
            <tr>
                <th>#</th>
                <th>AD Account</th>
                <th>AD Unique Number</th>
                <th>AD First Name</th>
                <th>AD First surname</th>
                <th>AD Email Address</th>
                <th>TxSIS Role</th>
                <th>Status</th>
                <th>Role</th>
                <th>Block</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        <tr th:if="${#lists.isEmpty(transmission_roles)}">
            <td colspan="7">No Records found. Add some...!</td>
        </tr>

        <tr th:each="transmission_roles : ${transmissionRolesList}">
            <td th:text="${transmission_roles.id}"></td>
            <td th:text="${transmission_roles.adAccount}"></td>
            <td th:text="${transmission_roles.adUniqueNumber}"></td>
            <td th:text="${transmission_roles.adFirstName}"></td>
            <td th:text="${transmission_roles.adSurname}"></td>
            <td th:text="${transmission_roles.adEmailAddress}"></td>
            <td th:text="${transmission_roles.txSisRole}"></td>
            <td th:text="${transmission_roles.status}"></td>
            <td th:text="${transmission_roles.role}"></td>
            <td th:text="${transmission_roles.blocked}"></td>
            <td>
                <a class="btn" data-toggle="tooltip" title="Edit user" th:href="@{/update-user/{id}(id=${transmission_roles.id})}"><i class="fa fa-edit"></i></a>
                <a class="btn" data-toggle="tooltip" title="Delete user" th:href="@{/delete/{id}(id=${transmission_roles.id})}" th:onclick="if(!(confirm('Are you sure you want to delete this user ?') )) return false"><i class="fa fa-trash"></i></a>
<!--                <a class="btn delete" ><i class="fa fa-lock"></i></a>-->
<!--                <a class="btn" th:href="@{/delete/{id}(id=${transmission_roles.id})}" th:onclick="if(!(confirm('Are you sure you want to delete this user ?') )) return false"><i class="fa fa-trash"></i></a>-->
                <a class="btn" data-toggle="tooltip" title="Block/Unblock user" th:href="@{/block/{id}(id=${transmission_roles.id})}" th:onclick="if(!(confirm('Are you sure you want to block this user ?') )) return false"><i class="fa fa-lock"></i></a>
            </td>
            </tr>
        </tbody>
    </table>
</div>
<!--<div th:insert="footer :: footer">  </div>-->
</body>
</html>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<!-- Sweet-Alert js-->
<script src="../static/sweetalert.min.js"></script>

<script>
    $('[data-toggle="tooltip"]').tooltip();
    // swal({
  //     title: "Are you sure?",
  //     text: "Your will not be able to recover this imaginary file!",
  //     type: "warning",
  //     showCancelButton: true,
  //     confirmButtonClass: "btn btn-danger",
  //     confirmButtonText: "Yes, delete it!",
  //     closeOnConfirm: false
  // },function() {
  //         $(document).delegate('.delete', 'click', function() {
  //                 var id = $(this).attr('id');
  //                 var parent = $(this).parent().parent();
  //                 $.ajax({
  //                     type: "DELETE",
  //                     url: "http://localhost:8081/delete/" + id,
  //                     cache: false,
  //                     success: function() {
  //                         parent.fadeOut('slow', function() {
  //                             $(this).remove();
  //                         });
  //                         location.reload(true)
  //                     },
  //                     error: function() {
  //                         $('#err').html('<span style=\'color:red; font-weight: bold; font-size: 30px;\'>Error deleting record').fadeIn().fadeOut(4000, function() {
  //                             $(this).remove();
  //                         });
  //                     }
  //                 });
  //
  //         });
  //
  //     }
  // );


</script>